@model SWP391.CHCQS.OurHomeWeb.Areas.Seller.ViewModels.ConstructDetailViewModel
@{
    ViewData["Title"] = "Create Construct Detail";
}
<div class="container img-thumbnail mt-5 mb-5">

    <form class="m-auto" asp-area="Seller" asp-controller="Quotation" asp-action="CreateConstructDetails">
       
        @* <input hidden asp-route-hiddenData="@ViewBag.CustomQuotation" /> *@
        <input hidden id="hiddenData" name="hiddenData" value="@ViewBag.CustomQuotation" />


        <div class="mt-3 mb-5 w-75 m-auto">
            <h3 class="text-center"><b>Tạo thông tin công trình</b></h3>
            <hr></hr>
        </div>

        <div class="row mt-5">
            <div class="col-sm">
                <label><b class="text-nowrap">Type of construction:</b></label>
                <select asp-for="ConstructDetail.ConstructionId" asp-items="@Model.Construction" type="text" class="form-select">
                    <option disabled selected>--Chọn loại--</option>
                </select>
            </div>
            <div class="col-sm">
                <label><b class="text-nowrap">Investment:</b></label>
                <select asp-for="ConstructDetail.InvestmentId" asp-items="@Model.Investment" type="text" class="form-select">
                    <option disabled selected>--Chọn mức--</option>
                </select>
            </div>
            <div class="col-sm">
                <label><b class="text-nowrap">Chiều rộng:</b></label>
                <input asp-for="ConstructDetail.Width" required class="form-control"></input>
            </div>
            <div class="col-sm">
                <label><b class="text-nowrap">Chiều dài:</b></label>
                <input asp-for="ConstructDetail.Length" required class="form-control"></input>
            </div>
            <div class="col-sm">
                <label><b class="text-nowrap">Mặt tiền:</b></label>
                <input asp-for="ConstructDetail.Facade" required class="form-control"></input>
            </div>
            <div class="col-sm">
                <label><b class="text-nowrap">Hẻm:</b></label>
                <input asp-for="ConstructDetail.Alley" required class="form-control"></input>
            </div>


        </div>

        <div class="row">
            <div class="col-sm">
                <label><b class="text-nowrap">Số tầng:</b></label>
                <input asp-for="ConstructDetail.Floor" required class="form-control"></input>
            </div>
            <div class="col-sm">
                <label><b class="text-nowrap">Tầng thượng:</b></label>
                <input asp-for="ConstructDetail.RooftopFloor" required class="form-control"></input>
            </div>
            <div class="col-sm">
                <label><b class="text-nowrap">Số phòng:</b></label>
                <input asp-for="ConstructDetail.Room" required class="form-control"></input>
            </div>
            <div class="col-sm">
                <label><b class="text-nowrap">Diện tích lửng:</b></label>
                <input asp-for="ConstructDetail.Mezzanine" required class="form-control"></input>
            </div>

            <div class="col-sm">
                <label><b class="text-nowrap">Diện tích vườn:</b></label>
                <input asp-for="ConstructDetail.Garden" required class="form-control"></input>
            </div>

        </div>

        <div class="row">
            <div class="col-sm">
                <label><b class="text-nowrap">Loại móng:</b></label>
                <select asp-for="ConstructDetail.FoundationId" asp-items="@Model.Foundation" type="text" class="form-select">
                    <option disabled selected>--Chọn loại--</option>
                </select>
            </div>
            <div class="col-sm">
                <label><b class="text-nowrap">Tầng hầm:</b></label>
                <select asp-for="ConstructDetail.BasementId" asp-items="@Model.Basement" type="text" class="form-select">
                    <option disabled selected>--Chọn loại--</option>
                </select>
            </div>
            <div class="col-sm">
                <label><b class="text-nowrap">Loại mái:</b></label>
                <select asp-for="ConstructDetail.RooftopId" asp-items="@Model.Rooftop" type="text" class="form-select">
                    <option disabled selected>--Chọn loại--</option>
                </select>
            </div>
            
            <div class="col-sm">
                <label><b class="text-nowrap">Ban công:</b></label>
                <div class="form-check">
                    <input asp-for="ConstructDetail.Balcony" class="form-check-input" />
                    <label class="form-check-label">Có ban công</label>
                </div>
            </div>
        </div>

        <div class="row mt-5 mb-2">
            <div class="col-sm">
                <button class="form-control text-white btn btn-main" style="background-color: #F27456" type="submit">Gửi thông tin</button>
            </div>
        </div>


    </form>
    <div class="row mt-5 mb-2">
        <div class="col-sm">
            <a class="form-control text-white btn btn-main" style="background-color: red !important" asp-area="Seller" asp-controller="Home" asp-action="Index" role="button">Trở lại</a>
        </div>
    </div>

</div>