@using System.Text.Json
@model ConstructDetailViewModel
@{
    ViewData["Title"] = "Tạo thông tin báo giá chi tiết";
}
<div class="container img-thumbnail mt-5 mb-5">

    <form class="m-auto" asp-area="Seller" asp-controller="Quotation" asp-action="CreateConstructDetails">
       
        @* <input hidden asp-route-hiddenData="@ViewBag.CustomQuotation" /> *@
        <input hidden id="hiddenData" name="hiddenData" value="@ViewBag.CustomQuotation" />
        
        <input hidden asp-for="ConstructDetail.QuotationId" value="@Model.Request.CustomQuotation.Id" />
        <div class="mt-3 mb-5 w-100 m-auto">
            <div class="row mt-3">
                <div class="ml-3 rounded-1 float-left">
                    <a href="/Seller/Request/Index" class="btn btn-main text-white "><i class="bi bi-arrow-left"></i> Trở lại</a>
                </div>
            </div>
            <h3 class="text-center"><b>Thông tin khách hàng</b></h3>
            <hr class="w-75 m-auto"></hr>
            <div class="row mt-2 mb-2 text-center">
                <div class="col-sm">
                    <label><b class="text-nowrap">Tên khách hàng:</b></label>
                    <p>@Model.Request.Customer.Name</p>
                </div>
                <div class="col-sm">
                    <label><b class="text-nowrap">Giới tính:</b></label>
                    <p>@Model.Request.Customer.Gender</p>
                </div>

                <div class="col-sm">
                    <label><b class="text-nowrap">Số điện thoại:</b></label>
                    <p>@Model.Request.Customer.PhoneNumber</p>
                </div>
                <div class="col-sm">
                    <label><b class="text-nowrap">Email:</b></label>
                    <p>@Model.Request.Customer.Email</p>
                </div>
            </div>
            <div class="row mb-2 text-center">
                <div class="col-sm">
                    <label><b class="text-nowrap">Mã yêu cầu:</b></label>
                    <p>@Model.Request.Id</p>
                </div>
                <div class="col-sm">
                    <label><b class="text-nowrap">Ngày nhận yêu cầu:</b></label>
                    <p>@Model.Request.GenerateDate.ToString("dd/MM/yyyy")</p>
                </div>

                <div class="col-sm">
                    <label><b class="text-nowrap">Vị trí:</b></label>
                    <p>@Model.Request.Location</p>
                </div>
                <div class="col-sm">
                    <label><b class="text-nowrap">Diện tích:</b></label>
                    <p>@Model.Request.Acreage</p>
                </div>
            </div>
            @if (Model.Request.Description != null)
            {
                <div class="row mb-2 px-5 d-flex">
                    <label><b class="text-nowrap">Mô tả:</b></label>
                    <p class="mx-5">@Model.Request.Description</p>
                </div>
            }
            
            <h3 class="text-center"><b>Thông tin báo giá chi tiết</b></h3>
            <hr class="w-75 m-auto"></hr>
        </div>
        
        <div class="row mt-5 mb-3">

            <div class="col-sm">
                <label><b class="text-nowrap">Loại công trình:</b> <span class="text-danger">*</span></label>
                <select asp-for="ConstructDetail.ConstructionId" asp-items="@Model.Construction" type="text" class="form-select">
                    <option disabled selected>--Chọn loại--</option>
                </select>
                <span asp-validation-for="ConstructDetail.ConstructionId" class="text-danger"></span>
            </div>

            <div class="col-sm">
                <label><b class="text-nowrap">Mức đầu tư:</b> <span class="text-danger">*</span></label>
                <select asp-for="ConstructDetail.InvestmentId" asp-items="@Model.Investment" type="text" class="form-select">
                    <option disabled selected>--Chọn mức--</option>
                </select>
                <span asp-validation-for="ConstructDetail.InvestmentId" class="text-danger"></span>
            </div>

            <div class="col-sm">
                <label><b class="text-nowrap">Loại móng:</b> <span class="text-danger">*</span></label>
                <select asp-for="ConstructDetail.FoundationId" asp-items="@Model.Foundation" type="text" class="form-select">
                    <option disabled selected>--Chọn loại--</option>
                </select>
                <span asp-validation-for="ConstructDetail.FoundationId" class="text-danger"></span>
            </div>

            <div class="col-sm">
                <label><b class="text-nowrap">Tầng hầm:</b> <span class="text-danger">*</span></label>
                <select asp-for="ConstructDetail.BasementId" asp-items="@Model.Basement" type="text" class="form-select">
                    <option disabled selected>--Chọn loại--</option>
                </select>
                <span asp-validation-for="ConstructDetail.BasementId" class="text-danger"></span>
            </div>

            <div class="col-sm">
                <label><b class="text-nowrap">Loại mái:</b> <span class="text-danger">*</span></label>
                <select asp-for="ConstructDetail.RooftopId" asp-items="@Model.Rooftop" type="text" class="form-select">
                    <option disabled selected>--Chọn loại--</option>
                </select>
                <span asp-validation-for="ConstructDetail.RooftopId" class="text-danger"></span>
            </div>

            <div class="col-sm">
                <label><b class="text-nowrap">Hẻm:</b> <span class="text-danger">*</span></label>
                <select asp-for="ConstructDetail.Alley" asp-items="@Model.Alleys" type="text" class="form-select">
                    <option disabled selected>--Chọn loại hẻm--</option>
                </select>
                <span asp-validation-for="ConstructDetail.Alley" class="text-danger"></span>
            </div>
            


        </div>

        <div class="row mb-3">

            <div class="col-sm">
                <label><b class="text-nowrap">Chiều rộng(m2):</b> <span class="text-danger">*</span></label>
                <input asp-for="ConstructDetail.Width" class="form-control" />
                <span asp-validation-for="ConstructDetail.Width" class="text-danger"></span>
            </div>

            <div class="col-sm">
                <label><b class="text-nowrap">Chiều dài(m2):</b> <span class="text-danger">*</span></label>
                <input asp-for="ConstructDetail.Length" class="form-control" />
                <span asp-validation-for="ConstructDetail.Length" class="text-danger"></span>
            </div>
            
            <div class="col-sm">
                <label><b class="text-nowrap">Tầng thượng(m2):</b> <span class="text-danger">*</span></label>
                <input asp-for="ConstructDetail.RooftopFloor" class="form-control"/>
                <span asp-validation-for="ConstructDetail.RooftopFloor" class="text-danger"></span>
            </div>
           
            <div class="col-sm">
                <label><b class="text-nowrap">Diện tích lửng(m2):</b> <span class="text-danger">*</span></label>
                <input asp-for="ConstructDetail.Mezzanine" class="form-control"/>
                <span asp-validation-for="ConstructDetail.Mezzanine" class="text-danger"></span>
            </div>

            <div class="col-sm">
                <label><b class="text-nowrap">Diện tích vườn(m2):</b> <span class="text-danger">*</span></label>
                <input asp-for="ConstructDetail.Garden" class="form-control"/>
                <span asp-validation-for="ConstructDetail.Garden" class="text-danger"></span>
            </div>
        </div>

        <div class="row">

            <div class="col-sm">
                <label><b class="text-nowrap">Số tầng:</b> <span class="text-danger">*</span></label>
                <input asp-for="ConstructDetail.Floor" class="form-control" />
                <span asp-validation-for="ConstructDetail.Floor" class="text-danger"></span>
            </div>

            <div class="col-sm">
                <label><b class="text-nowrap">Mặt tiền:</b> <span class="text-danger">*</span></label>
                <select type="text" class="form-control" asp-for="ConstructDetail.Facade" asp-items="@Model.Facades">
                </select>
                <span asp-validation-for="ConstructDetail.Facade" class="text-danger"></span>
            </div>

            <div class="col-sm">
                <label><b class="text-nowrap">Số phòng:</b> <span class="text-danger">*</span></label>
                <input asp-for="ConstructDetail.Room" class="form-control" />
                <span asp-validation-for="ConstructDetail.Room" class="text-danger"></span>
            </div>

            <div class="col-sm">
                <label><b class="text-nowrap">Ban công:</b> <span class="text-danger">*</span></label>
                <select type="text" class="form-control" asp-for="ConstructDetail.Balcony">
                    <option disabled selected>--Chọn loại--</option>
                    <option value="false">Không có ban công</option>
                    <option value="true">Có ban công</option>
              </select>
                <span asp-validation-for="ConstructDetail.Balcony" class="text-danger"></span>
            </div>

        </div>

        <div class="mt-5 mb-3">
            <div class="col-sm">
                <button class="form-control text-white btn btn-main" style="background-color: #F27456" type="submit">Lưu thông tin</button>
            </div>
        </div>
    </form>
    
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

