@{
//@model PDFQuotation; 


}
@{
     Layout = null;
 
     
}


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
    <script src="~/js/pdf.js"></script>

    <style>
        .container-fluid {
            width: 700px;
            align-items: center;
            margin: auto;
            width: 50%;
        }
        /* Áp dụng đường kẻ bên trong cơ của bảng */
        .table-bordered th,
        .table-bordered td {
            border: 1px solid black; /* Màu của đường kẻ */
        }
        /* Đảm bảo chiều ngang các cột trong bảng bằng nhau */
        .table {
            table-layout: fixed;
        }


            /* Đảm bảo các cột trong bảng có chiều ngang bằng nhau */
            .table th,
            .table td {
                width: 33.33%; /* Chia đều chiều rộng cho 3 cột */
                word-wrap: break-word; /* Cho phép các từ dài tự động xuống dòng */
            }
    </style>
</head>
<body>
    <div class="container-fluid" id="invoice">
        <div class="container  " style="text-align:center">
            <h3>Quotation @Model.Id:</h3>
            <h3>Request @Model.RequestId on @Model.GenerateDateRequest</h3>
            <div class="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;">
                <div>
                    <div class="row mt-3">
                        <div class="">
                            <label><b class="text-nowrap">Acreage: </b></label>
                            <p>@Model.Acreage</p>
                        </div>
                        <div class="col-lg">
                            <label><b class="text-nowrap">Location: </b></label>
                            <p>@Model.Location</p>
                        </div>
                        <div class="col-lg">
                            <label><b class="text-nowrap">Customer: </b></label>
                            <p>@Model.CustomerName</p>
                        </div>
                    </div>
                </div>
                <div>
                    <h3>Construct Detail</h3>
                    <div>
                        <div class="col-lg">
                            <label><b class="text-nowrap">Width:</b></label>
                            <p>@Model.ConstructDetail.Width</p>
                        </div>
                        <div class="col-lg">
                            <label><b class="text-nowrap">Length:</b></label>
                            <p>@Model.ConstructDetail.Length</p>
                        </div><div class="col-lg">
                            <label><b class="text-nowrap">Facade:</b></label>
                            <p>@Model.ConstructDetail.Facade</p>
                        </div>
                        <div class="col-lg">
                            <label><b class="text-nowrap">Alley:</b></label>
                            <p>@Model.ConstructDetail.Alley</p>
                        </div>
                        <div class="col-lg">
                            <label><b class="text-nowrap">Room:</b></label>
                            <p>@Model.ConstructDetail.Room</p>
                        </div>
                    </div>
                    <div>
                        <div class="col-lg">
                            <label><b class="text-nowrap">Floor:</b></label>
                            <p>@Model.ConstructDetail.Floor</p>
                        </div>
                        <div class="col-lg">
                            <label><b class="text-nowrap">Mezzanine:</b></label>
                            <p>@Model.ConstructDetail.Mezzanine</p>
                        </div>
                        <div class="col-lg">
                            <label><b class="text-nowrap">RooftopFloor:</b></label>
                            <p>@Model.ConstructDetail.RooftopFloor</p>
                        </div><div class="col-lg">
                            <label><b class="text-nowrap">Balcony:</b></label>
                            <p>
                                @(Model.ConstructDetail.Balcony ? "Yes" : "No")
                            </p>
                        </div><div class="col-lg">
                            <label><b class="text-nowrap">Garden:</b></label>
                            <p>@Model.ConstructDetail.Garden</p>
                        </div>
                        <div>
                            <div class="col-lg">
                                <label><b class="text-nowrap">Basenment:</b></label>
                                <p>@Model.ConstructDetail.Basement.Name</p>
                            </div>
                            <div class="col-lg">
                                <label><b class="text-nowrap">Construction:</b></label>
                                <p>@Model.ConstructDetail.Construction.Name</p>
                            </div><div class="col-lg">
                                <label><b class="text-nowrap">Foundation:</b></label>
                                <p>@Model.ConstructDetail.Foundation.Name</p>
                            </div><div class="col-lg">
                                <label><b class="text-nowrap">Investment:</b></label>
                                <p>@Model.ConstructDetail.Investment.Name</p>
                            </div><div class="col-lg">
                                <label><b class="text-nowrap">Rooftop:</b></label>
                                <p>@Model.ConstructDetail.Rooftop.Name</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="text-center">
                    <h3>Staff's Delegation</h3>
                    <table class="table table-bordered" style="margin:auto">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Seller</th>
                                <th scope="col">Engineer</th>
                                <th scope="col">Manager</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.SellerName</td>
                                <td>@Model.EngineerName</td>
                                <td>@Model.ManagerName</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <h3>Tasks</h3>
                    <table class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Unit Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{/*
                                foreach (var item in Model.Tasks)
                                {
                                    <tr>
                                        <td>@item.Task.Name</td>
                                        <td>@item.Task.Description</td>
                                        <td>@item.Task.UnitPrice</td>
                                    </tr>
                                }
                                */
                            }
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <h3>Materials</h3>
                    <table class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Unit Price</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{/*
    foreach (var item in Model.Tasks)
                                {
                                <tr>
                                    <td>@item.Task.Name</td>
                                        <td>@item.Task.Description</td>
                                        <td>@item.Task.UnitPrice</td>
                                        <td>@item.Price</td>
                                        </tr>
                                    }
                                */
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="mt-3 text-red">
            <h3 style="color:red;">Total Price for your construction: @Model.Total</h3>
        </div>
        <div class="">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-primary">Cancle</button>
                </div>
                <div class="col">
                    <button type="button" id="send" class="btn btn-secondary">Send</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



