@model Project

@{
	ViewData["Title"] = "Chi tiết dự án";
}

<div class="d-flex img-thumbnail justify-content-center">
	<div class="d-flex align-items-center">
		<h3 class="p-3"><a class="text-decoration-none text-black user-select-auto" asp-area="Customer" asp-controller="Home" asp-action="Index">Trang chủ</a></h3>
		<i class="fa-solid fa-arrow-right-long"></i>
		<h3 class="p-3"><a class="text-decoration-none user-select-auto" style="color: #F27456" asp-area="Customer" asp-controller="Project" asp-action="Index">Dự án</a></h3>
	</div>
</div>

<div class="container mt-5">
	<h1 style="font-weight:600">Dự án @Model.Name</h1>
	<p style="font-size:1.3em">Time: @Model.Date</p>
</div>


<div class="container-fluid d-flex">
	<div class="row d-flex">
		<div id="overview" class="col-lg-5" style="max-width:40em">
			<div id="carouselExample" class="carousel slide">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img style="border-radius:5px" src="~/images/project_bg/project_bg_4.jpg" width="100%" height="50%" />
					</div>
					<div class="carousel-item">
						<img style="border-radius:5px" src="~/images/project_bg/project_bg_1.jpg" width="100%" height="50%" />
					</div>
					<div class="carousel-item">
						<img style="border-radius:5px" src="~/images/project_bg/project_bg_2.jpg" width="100%" height="50%" />
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
		<div class="col-lg-7">
			<div class="mt-2 table-responsive">
				<h2 id="detail">Thông tin chi tiết của mẫu nhà @Model.Scale</h2>
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Thông tin</th>
							<th>Chi tiết</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Chủ sỡ hữu</td>
							<td>@Model.Customer.Name</td>
						</tr>
						<tr>
							<td>Vị trí</td>
							<td>@Model.Location</td>
						</tr>
						<tr>
							<td>Quy mô</td>
							<td>@Model.Scale</td>
						</tr>
						<tr>
							<td>Kích thước</td>
							<td>@Model.Size</td>
						</tr>
						<tr>
							<td>Mô tả</td>
							<td>@Model.Description</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
