@model List<Project>
@{
	ViewData["Title"] = "Dự án";
}
<style>
    .pagination {
        display: flex;
        justify-content: center;
    }

    .pagination-link {
        padding: 5px 10px;
        margin: 0 5px;
        text-decoration: none;
        color: black;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

        .pagination-link.active {
            background-color: #007bff;
            color: white;
            border-color: #007bff;
        }

        .pagination-link.current {
            background-color: darkblue;
            font-weight: bold;
        }
</style>

<div class="d-flex img-thumbnail justify-content-center">
	<div class="d-flex align-items-center">
		<h3 class="p-3"><a class="text-decoration-none text-black user-select-auto" asp-area="Customer" asp-controller="Home" asp-action="Index">Trang chủ</a></h3>
		<i class="fa-solid fa-arrow-right-long"></i>
		<h3 class="p-3"><a class="text-decoration-none user-select-auto" style="color: #F27456" asp-area="Customer" asp-controller="Project" asp-action="Index">Dự án</a></h3>
	</div>
</div>

<hr></hr>

<div class="row">
	<div class="col text-center mt-5 mb-5">
		<h1 style="color: #F27456">Những dự án của chúng tôi</h1>
	</div>

	<div class="container mt-2 mb-3">
		<form class="d-flex" asp-action="Search">
			<input class="form-control rounded-pill me-2" type="search" placeholder="Tìm kiếm dự án" name="keyword" value="@ViewBag.LastSearch"/>
			<button class="btn btn-main text-nowrap" type="submit">Tìm kiếm</button>
		</form>
	</div>

	<div class="row m-auto">
		@foreach (var project in Model)
        {
            <div class="col-sm-4 mb-5">
                <div class="img-thumbnail">
                    @if (project.Images != null && project.Images.Count > 0)
                    {
                        <img src="@project.Images.ElementAt(0).ImageUrl" width="100%"></img>
                    }
                    else
                    {
                        <img src="~/images/background.jpg" width="100%"></img>
                    }
                    
                    <div class="m-sm-3 text-dark">
                        <h3><b>Tên dự án: </b>@project.Name</h3>
                        <p><b>Vị trí:</b> @project.Location</p>
                        <p><b>Quy mô:</b> @project.Scale</p>
                        <p><b>Kích thước:</b> @project.Size</p>
                    </div>
                    <div class="col-sm m-1 btn-group rounded-1 w-100 m-auto" role="group">
                        <a asp-area="Customer" asp-controller="Project" asp-action="Detail" asp-route-id ="@project.Id" class="btn btn-main">Chi tiết</a>
                    </div>
                </div>
            </div>
        }
	</div>
	@{
		var currentUrl = Context.Request.Path;
	}

	<div class="d-flex justify-content-center pagination">
		@for (int i = 1; i <= ViewBag.TotalPages; i++)
		{
            //đánh dấu trang hiện tại
            string cssClass = (i == ViewBag.CurrentPage) ? "pagination-link active current" : "pagination-link";
            <a class="cssClass p-2" href="@currentUrl?page=@i&keyword=@ViewBag.LastSearch">@i</a>
		}
		
	</div>
</div>