@model QuickQuoteVM

<div class="d-flex img-thumbnail justify-content-center">
	<div class="d-flex align-items-center">
		<h3 class="p-3"><a class="text-decoration-none text-black user-select-auto" asp-area="Customer" asp-controller="Home" asp-action="Index">Trang chủ</a></h3>
		<i class="fa-solid fa-arrow-right-long"></i>
		<h3 class="p-3"><a class="text-decoration-none user-select-auto" style="color: #F27456" asp-area="Customer" asp-controller="Quotation" asp-action="Index">Báo giá</a></h3>
		<i class="fa-solid fa-arrow-right-long"></i>
		<h3 class="p-3"><a class="text-decoration-none user-select-auto" style="color: #F27456" asp-area="Customer" asp-controller="Request" asp-action="QuickQuote">Báo giá nhanh</a></h3>
	</div>
</div>

<hr></hr>

<partial name="_QuotationSubNav"></partial>

<div class="container img-thumbnail mt-5 mb-5">

	<form class="m-auto" method="post">

		<div class="mt-3 mb-5 w-75 m-auto">
			<h3 class="text-center"><b>Thông tin công trình</b></h3>
			<hr></hr>
		</div>

		<div class="row mt-2">
			<div class="col-sm">
				<label><b class="text-nowrap">Loại công trình:</b></label>
				<select type="text" class="form-control" asp-for="ConstructDetail.ConstructionId" asp-items="@Model.ConstructionTypes">
					<option disabled selected>--Chọn loại--</option>
				</select>
			</div>
			<div class="col-sm">
				<label><b class="text-nowrap">Mức đầu tư:</b></label>
				<select type="text" class="form-control" asp-for="ConstructDetail.InvestmentId" asp-items="@Model.InvestmentTypes">
					<option disabled selected>--Chọn loại--</option>
				</select>
			</div>
			<div class="col-sm">
				<label><b class="text-nowrap">Chiều rộng:</b></label>
				<input class="form-control" asp-for="ConstructDetail.Width"></input>
				<span asp-validation-for="ConstructDetail.Width" class="text-danger"></span>
			</div>
			<div class="col-sm">
				<label><b class="text-nowrap">Chiều dài:</b></label>
				<input class="form-control" asp-for="ConstructDetail.Length"></input>
				<span asp-validation-for="ConstructDetail.Length" class="text-danger"></span>
			</div>
			<div class="col-sm">
				<label><b class="text-nowrap">Mặt tiền:</b></label>
				<select type="text" class="form-control" asp-for="ConstructDetail.Facade" asp-items="@Model.Facades">
				</select>
			</div>
			<div class="col-sm">
				<label><b class="text-nowrap">Hẻm:</b></label>
				<select type="text" class="form-control" asp-for="ConstructDetail.Alley" asp-items="@Model.Alleys">
					<option disabled selected>--Chọn loại--</option>
				</select>
			</div>
		</div>

		<div class="row">
			<div class="col-sm">
				<label><b class="text-nowrap">Số tầng</b></label>
				<input class="form-control" asp-for="ConstructDetail.Floor"></input>
				<span asp-validation-for="ConstructDetail.Floor" class="text-danger"></span>
			</div>
			<div class="col-sm">
				<label><b class="text-nowrap">Diện tích lửng</b></label>
				<input class="form-control" asp-for="ConstructDetail.Mezzanine"></input>
				<span asp-validation-for="ConstructDetail.Mezzanine" class="text-danger"></span>
			</div>
			<div class="col-sm">
				<label><b class="text-nowrap">Tầng thượng:</b></label>
				<input class="form-control" asp-for="ConstructDetail.RooftopFloor"></input>
				<span asp-validation-for="ConstructDetail.RooftopFloor" class="text-danger"></span>
			</div>
			<div class="col-sm">
				<label><b class="text-nowrap">Ban công:</b></label>
				<select type="text" class="form-control" asp-for="ConstructDetail.Balcony">
					<option disabled selected>--Chọn loại--</option>
					<option value="false">Không có ban công</option>
					<option value="true">Có ban công</option>
				</select>
			</div>
		</div>

		<div class="row">
			<div class="col-sm">
				<label><b class="text-nowrap">Loại móng:</b></label>
				<select type="text" class="form-control" asp-for="ConstructDetail.FoundationId" asp-items="@Model.FoundationTypes">
					<option disabled selected>--Chọn loại--</option>
				</select>
			</div>
			<div class="col-sm">
				<label><b class="text-nowrap">Tầng hầm:</b></label>
				<select type="text" class="form-control" asp-for="ConstructDetail.BasementId" asp-items="@Model.BasementTypes">
					<option disabled selected>--Chọn loại--</option>
				</select>
			</div>
			<div class="col-sm">
				<label><b class="text-nowrap">Loại mái:</b></label>
				<select type="text" class="form-control" asp-for="ConstructDetail.RooftopId" asp-items="@Model.RooftopTypes">
					<option disabled selected>--Chọn loại--</option>
				</select>
			</div>
			<div class="col-sm">
				<label><b class="text-nowrap">Diện tích vườn:</b></label>
				<input class="form-control" asp-for="ConstructDetail.Garden"></input>
				<span asp-validation-for="ConstructDetail.Garden" class="text-danger"></span>
			</div>
		</div>

		<div class="row mt-3 mb-2">
			<div class="col-sm">
				<button class="form-control text-white btn btn-main" style="background-color: #F27456" type="submit">Báo giá</button>
			</div>
		</div>

	</form>

	
</div>
@if (Model.ResponseBill != null)
{
	<div class="table-responsive mt-5">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th colspan="4" class="text-center" style="text-transform: uppercase; text-align:center; font-size:20px;">Đơn giá xây nhà mẫu</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="4" class="text-right" style="text-align:right">
						<strong>Đơn giá: @Model.ResponseBill.UnitPrice.ToString("N0") VND</strong>
					</td>
				</tr>
				<tr class="label_table">
					<td style="text-transform: uppercase">STT</td>
					<td style="text-transform: uppercase">Loại</td>
					<td style="text-transform: uppercase">Diện tích XD</td>
					<td style="text-transform: uppercase">Thành tiền</td>
				</tr>
				@foreach (var detail in Model.ResponseBill.BillDetails)
				{
					<tr>
						<td>@detail.NumberOfOrder</td>
						<td>@detail.Type</td>
						<td>@detail.ConstructionArea.ToString("0.00") m2</td>
						<td>@detail.Price.ToString("N0") VND</td>
					</tr>
				}
				<tr>
					<td colspan="3" class="text-left"><strong>Tổng diện tích:</strong></td>
					<td class="text-left"><strong>@Model.ResponseBill.TotalArea m2</strong></td>
				</tr>
				<tr>
					<td colspan="3" class="text-left"><strong>Tổng chi phí:</strong></td>
					<td class="text-left"><strong>@Model.ResponseBill.TotalPrice.ToString("N0") VND</strong></td>
				</tr>
			</tbody>
		</table>
	</div>
}

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}