@model QuotationVM

@{
	ViewData["Title"] = "Response Detail";
}
<div class="d-flex img-thumbnail justify-content-center">
	<div class="d-flex align-items-center">
		<h3 class="p-3">
			<a class="text-decoration-none text-black user-select-auto" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
		</h3>
		<i class="fa-solid fa-arrow-right-long"></i>
		<h3 class="p-3">
			<a class="text-decoration-none user-select-auto" style="color: #F27456" asp-area="Customer" asp-controller="Request" asp-action="Index">Quotation</a>
		</h3>
		<i class="fa-solid fa-arrow-right-long"></i>
		<h3 class="p-3">
			<a class="text-decoration-none user-select-auto" style="color: #F27456" asp-area="Customer" asp-controller="Request" asp-action="ManageRequest">Manage Request</a>
		</h3>
		<i class="fa-solid fa-arrow-right-long"></i>
		<h3 class="p-3">
			<a class="text-decoration-none user-select-auto" style="color: #F27456">View Response</a>
		</h3>
	</div>
</div>

<hr></hr>

<partial name="_QuotationSubNav"></partial>

<h1 class="text-center my-4" style="color: #F27456">Quotation Detail</h1>

<div class="container img-thumbnail mt-3 mb-5">
	
	<div class="m-auto">
		<div class="row mt-2">
			<div class="col-lg">
				<label><b class="text-nowrap">Type of construction:</b></label>
				<p>@Model.ConstructionType</p>
			</div>
			<div class="col-lg">
				<label><b class="text-nowrap">Investment:</b></label>
				<p>@Model.InvestmentType</p>
			</div>
			<div class="col-lg">
				<label><b class="text-nowrap">Width:</b></label>
				<p>@Model.Width m2</p>
			</div>
			<div class="col-lg">
				<label><b class="text-nowrap">Length:</b></label>
				<p>@Model.Lenght m2</>
			</div>
			<div class="col-lg">
				<label><b class="text-nowrap">Facade:</b></label>
				<p>@Model.Facade</p>
			</div>
			<div class="col-lg">
				<label><b class="text-nowrap">Alley:</b></label>
				<p>@Model.Alley</p>
			</div>
		</div>


		<div class="row">
			<div class="col-lg">
				<label><b class="text-nowrap">Number of floors:</b></label>
				<p>@Model.Floor</p>
			</div>
			<div class="col-lg">
				<label><b class="text-nowrap">Mezzanine:</b></label>
				<p>@Model.Mezzanine</p>
			</div>
			<div class="col-lg">
				<label><b class="text-nowrap">Rooftop floor:</b></label>
				<p>@Model.RooftopFloor</p>
			</div>
			<div class="col-lg">
				<label class="form-check-label text-nowrap">Has Balcony</label>

				@if (Model.Balcony)
				{
					<p>Yes</p>
				}
				else
				{
					<p>No</p>

				}
			</div>
		</div>

		<div class="row">
			<div class="col-lg">
				<label><b class="text-nowrap">Foundation:</b></label>
				<p>@Model.FoundationType</p>
			</div>
			<div class="col-lg">
				<label><b class="text-nowrap">Basement:</b></label>
				<p>@Model.BasementType</p>
			</div>
			<div class="col-lg">
				<label><b class="text-nowrap">Rooftop:</b></label>
				<p>@Model.RoofType</p>
			</div>
			<div class="col-lg">
				<label><b class="text-nowrap">Garden:</b></label>
				<p>@Model.Garden</p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg">
				<label><b>Description:</b></label>
				<p>@Model.Description</p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg">
				<label><b>Total Price:</b></label>
				<p>@Model.TotalPrice.ToString("c")</p>
			</div>
		</div>

		<div class="row mt-3 mb-2">
			<div class="col-sm m-1 rounded-1">
				<a asp-area="Customer" asp-controller="Request" asp-action="RequestHistory" class="btn btn-main w-100">Back</a>
			</div>
		</div>
	</div>
	
</div>

