 @model ApplicationUser


<div class="card-body">
    <div class="row">
        <div class="col-sm-3">
            <p class="mb-0">ID:</p>
        </div>
        <div class="col-sm-9">
            <p>@(Model?.Id??"Id")</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <p class="mb-0">Tên:</p>
        </div>
        <div class="col-sm-9">
            <p class="text-muted mb-0">@(Model?.Name??"Tên")</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <p class="mb-0">Email:</p>
        </div>
        <div class="col-sm-9">
            <p class="text-muted mb-0">@(Model?.Email??"Email")</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <p class="mb-0">Số điện thoại:</p>
        </div>
        <div class="col-sm-9">
            <p class="text-muted mb-0">@(Model?.PhoneNumber?? "Số điện thoại")</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <p class="mb-0">Giới tính:</p>
        </div>
        <div class="col-sm-9">
            <p class="text-muted mb-0">@(Model?.Gender??"Giới tính")</p>
        </div>
    </div>
    <hr>

</div>



