@model Combo

@{
	ViewData["Title"] = "Chi tiết dịch vụ";
}

<style>
    #ul {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-gap: 10px;
        list-style: none;
        margin: 20px 0;
        margin-inline-start: 0;
        padding-inline-start: 0;
    }

    #li {
        margin-left: 0;
    }
</style>

<div class="d-flex img-thumbnail justify-content-center">
    <div class="d-flex align-items-center">
        <h3 class="p-3"><a class="text-decoration-none text-black user-select-auto" asp-area="Customer" asp-controller="Home" asp-action="Index">Trang chủ</a></h3>
        <i class="fa-solid fa-arrow-right-long"></i>
        <h3 class="p-3"><a class="text-decoration-none user-select-auto" style="color: #F27456" asp-area="Customer" asp-controller="Combo" asp-action="Index">Dịch vụ</a></h3>
    </div>
</div>

<div class="mt-5 text-center">
    <h1 style="font-weight:600; text-transform:uppercase">@Model.Name</h1>
</div>


<div class="container-fluid d-flex">
    <div class="row d-flex">
        <div class="col-lg-8">
            <img style="border-radius:5px" src="@Model.ImageUrl" width="100%" height="100%" />
        </div>
        <div class="col-lg-4">
            <div>
                <h2 style="text-align:justify">Mô tả @Model.Name</h2>
                <p style="text-align:justify">@Model.Description</p>
            </div>
        </div>
        <hr />

                        <div class="text-center mb-3">
                            <h2 id="overview">
                                <span class="title font-weight-bold">Thông tin gói dịch vụ</span>
                            </h2>
                            <div class="text-center" style="margin:.5em auto 20px;height:3px;max-width:100px;background-color:rgb(237,50,55)">
                            </div>
                        </div>

                        <div>
                            <ul id="#ul">
                                @foreach (var combo in Model.Materials)
                                {
                                    <li id="#li">
                                        <p>@combo.Name</p>
                                        <p>@combo.UnitPrice</p>
                                    </li>
                                }
                            </ul>
                            <p>@Model.Description</p>
                        </div>
                    </div>
                </div>



